<div class="article-list">
  {{#each newsArticles}}
    <div class="article-list-item">
      <span class="date">{{ published }}</span></br>
      <span class="title">{{ title }}</span></br>
    </div>
    <hr>
  {{/each}}
</div>
